.footer {
&__inner {
      display: flex;
      flex-wrap: wrap;
      padding: 70px 0;
   }
}
.footer-mogo {
   width: 44%;
   padding-right: 35px;
   &__title {
      @include fontFWSC('Montserrat',700,46px,#ccc);
      text-transform: uppercase;
      margin-bottom: 40px;
   }
   &__text {
      @include fontFWSCL('Roboto',400,15px,#999,1.6);
      margin-bottom: 50px;
   }
   &__followers {
      @include fontFWSC('Montserrat',400,14px,#333);
      margin-bottom: 18px;
      span{font-weight: 700;font-size: 18px;}
   }
   &__social {
      padding: 18px 0 38px;
      border-top: 1px #e5e5e5 solid;
      display: flex;
      span {
         @include fontFWSC('Roboto',300,15px,#999);
         font-style: italic;
      }
   }
   &__icons {
      display: flex;
      align-items: center;
      padding-left: 22px;
      svg {
         fill: #95e1d3;
         margin-right: 18px;
         height: 18px;
         max-width: 20px;
         cursor: pointer;
         transition: fill .1s linear;
         &:hover {
            fill: #f38181;
         }
      }
   }
   &__subscribe {
      form {
         display: flex;
         align-items: center;
         textarea {
            min-width: 230px;
            min-height: 45px;
            width: 230px;
            height: 45px;
            max-width: 340px;
            max-height: 45px;

            background-color: #fff;
            border: 1px #e7e7e7 solid;
            @include fontFWSC('Roboto',300,15px,#ccc);
            font-style: italic;
            padding: 12px 0 12px 12px;
            overflow: hidden;
            &:focus{outline: none;}
         }
         button {
            height: 45px;
            width: 150px;

            @include fontFWSC('Montserrat',700,14px,#fff);
            text-transform: uppercase;
            background-color: #95e1d3;
            border: none;

            transition: background-color .12s linear;
            cursor: pointer;
            &:hover {
               background-color: #f38181;
            }
         }
      }
   }
}
.footer-blogs {
   width: 33%;
   padding-right: 40px;
   &__header {
      @include fontFWSC('Montserrat',700,14px,#333);
      text-transform: uppercase;
      margin-bottom: 40px;
   }
   &__row {
      display: flex;
      margin-bottom: 30px;
   }
   &__content {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__title {
      @include fontFWSC('Montserrat',700,12px,#333);
      text-transform: uppercase;
      margin-bottom: 12px;
   }
   &__subtitle {
      @include fontFWSC('Roboto',300,13px,#999);
      font-style: italic;
   }
}
.footer-inst {
   width: 23%;
   &__title {
      @include fontFWSC('Montserrat',700,14px,#333);
      text-transform: uppercase;
      margin-bottom: 40px;
   }
   &__photos {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      img{
         width: 33.3333%;
         border-right: 2px #fff solid;
         border-bottom: 2px #fff solid;
      }
   }
   &__link {
      @include fontFWSC('Roboto',300,13px,#999);
      font-style: italic;
   }
}

.copyright {
   &__inner {
      text-align: center;
      padding: 23px 0;
      border-top: 1px #e5e5e5 solid;
      @include fontFWSC('Montserrat',600,14px,#333);
      span{color: #f38181;}
   }
}