//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	&__inner {
		height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav {
		display: flex;
		align-items: center;
		position: relative;
	}
	&.fixed {
		position: fixed;
		z-index: 1000;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 4px 6px #4c4c4c;
	}
}
.header-logo {
	display: flex;
	align-items: center;
	img {display: block;border-radius: 50%;}
	&__content {padding-left: 10px;}
	&__name {
		@include fontFWSCL('Montserrat',700,15px,#2b2a2c,1.06);
		max-width: 80px;
		margin-bottom: 4px;
	}
	&__prof {@include fontFWSC('Montserrat',400,12px,#6a696b);}
}
.nav {
	&__link {
		@include fontFWSC('Montserrat',700,14px,#2b2a2c);
		text-transform: uppercase;
		margin-left: 40px;
		position: relative;
		&:first-child {margin-left: 0;}
		&:not(button):before {
			content: "";
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 0;
			height: 3px;
			background-color: #2b2a2c;
			transition: width .2s linear;
		}
		&:hover {
			text-decoration: none;
			&:before {width: 100%;}
		}
		&.active {
			text-decoration: none;
			&:before {width: 100%;}
		}
	}
}
.btn-black {
	@include fontFWSC('Montserrat',700,14px,#2b2a2c);
	text-transform: uppercase;
	padding: 9px 30px;
	border: 3px #2b2a2c solid;
	border-radius: 30px;
	background-color: #fff;
	cursor: pointer;
	transition: all .2s linear;
	&:hover {
		background-color: #2b2a2c;
		color: #fff;
		box-shadow: 2px 2px 5px #2b2a2c;
	}
}
//====================================================================================================
.burger {
	display: none;
	background: none;
	padding: 13px 2px;
	border: 0px;
	font-size: 0;
	cursor: pointer;
	&__icon {
		display: block;
		width: 37px;
		height: 3px;
		background-color: #2b2a2c;
		border-radius: 2px;
		transition: background-color .1s linear;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			width: 37px;
			height: 3px;
			background-color: #2b2a2c;
			border-radius: 2px;
			transition: transform .1s linear, top .1s linear;
		}
		&:after {
			content: "";
			position: absolute;
			top: -9px;
			left: 0;
			width: 37px;
			height: 3px;
			background-color: #2b2a2c;
			border-radius: 2px;
			transition: transform .1s linear, top .1s linear;
		}
	}
}
//* <АДАПТИВ>====================================================================================================
//? header ----------------------------------
@media (max-width: 990px) {
   .nav__link {margin-left: 25px;}
}
@media (max-width: 760px) {
   .nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		position: fixed;
		right: 0;
		top: 0;
		padding-top: 150px;

		height: 100vh;
		width: 0vw;
		overflow: hidden;
		opacity: 0;

		background: linear-gradient(90deg, #fff, #ccc);
		box-shadow: 0px 0px 60px 30px rgb(0 0 0 / 80%);
		transition: width .2s linear, opacity .2s linear;
		&__link {
			margin-left: 0;
			&:not(button) {font-size: 24px;margin-bottom: 70px;}
		}
		&.active {
			width: 70vw;
			opacity: 1;
			transition: width .2s linear, opacity .2s linear;
		}
	}
	.burger {
		display: block;
		&.active {
			.burger__icon {
				background-color: transparent;
				&:after {
					top: 0;
					transform: rotateZ(45deg);
				}
				&::before {
					top: 0;
					transform: rotateZ(-45deg);
				}
			}
		}
	}
	button.nav__link {
		margin-left: 0;
		margin-right: 30px;
	}
}
@media (max-width: 440px) {
	.nav {
		&.active {width: 90vw;}
	}
   .nav__link:not(button) {font-size: 20px;margin-bottom: 50px;}
	button.nav__link {
		position: fixed;
		top: 22px;
		right: 13%;
		z-index: 3;
		opacity: 0;
		transition: opacity .2s linear;
		&.show {
			opacity: 1;
		}
	}
}
//====================================================================================================