//* <МИКСИНЫ>===============================================================================================
   @import "mixins";

//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      color: #6c7279;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1170px;
   $md1: $mw + 12;
   $md2: 991.98;
   $md3: 767.98;
   $md4: 479.98;
   $md5: 379.98;
//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   // @import "null";

//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   // @import "header";
   // @import "footer.scss";

//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   // &.loaded {
   // }
}
// .empty-space {
//    height: 700px;
//    width: 100%;
//    background-color: #fff;
//    text-align: center;
//    border-top: 1px solid #ccc;
// }

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
}

//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -Intro -------------------

//* <АДАПТИВ>====================================================================================================
//? Point 1 ----------------------------------
   @media (max-width: $md1+px) {}
//? Point 2 ----------------------------------
   @media (max-width: $md2+px) {}
//? Point 3 ----------------------------------
   @media (max-width: $md3+px) {}
//? Point 4 ----------------------------------
   @media (max-width: $md4+px) {}
//? Point 5 ----------------------------------
   @media (max-width: $md5+px) {}
//* </ДОПОЛНИТЕЛЬНЫЙ ТЕСТОВЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
