//* <МИКСИНЫ>===============================================================================================
   @import "mixins";
//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,500&display=swap');
// font-family: 'Montserrat', sans-serif;
//<Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      color: #6a696b;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1400;
   $md1: $mw + 12;
   $md2: 991.98;
   $md3: 767.98;
   $md4: 479.98;
   $md5: 379.98;
//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   @import "null";
//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   @import "header";
   // @import "footer.scss";
//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
// .empty-space {
//    height: 700px;
//    width: 100%;
//    background-color: #fff;
//    text-align: center;
//    border-top: 1px solid #ccc;
// }
//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}
//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -Intro -------------------
.intro {
   &__inner {
      display: flex;
      justify-content: space-between;
   }
}
.intro-content {
   width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   &__greeting {
      @include fontFWSC('Montserrat',300,32px,#2b2a2c);
      margin-bottom: 7px;
   }
   &__name {
      @include fontFWSC('Montserrat',700,45px,#2b2a2c);
      margin-bottom: 12px;
   }
   &__prof {
      @include fontFWSC('Montserrat',400,18px,#6a696b);
      margin-bottom: 20px;
   }
   button {
      padding: 18px 45px;
      margin-right: 14px;
      font-size: 16px;
      &:last-child {margin-right: 0;}
   }
}
.social {
   display: flex;
   margin-bottom: 35px;
   position: relative;
   &__item {
      position: relative;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-color: #ccc;
      transition: bottom .1s linear, box-shadow .1s linear;
      svg {width: 70%;height: 70%;fill: #fff;}
      &.behance{background-color: #1869ff;}
      &.dribbble{background-color: #e51a68;}
      &.linkedin{background-color: #007bb6;}
      &.facebook{background-color: #3a5898;}
      &.instagram{background-color: #13578a;}
      &.twitter{background-color: #56acef;}

      &:hover {bottom: 5px;box-shadow: 2px 2px 5px #6a696b;}
   }
}
.intro-photo {
   width: auto;
   min-width: 55%;
   display: flex;
   flex-direction: row-reverse;
   padding-right: 70px;
   background: #fff url(../img/intro/bg.png) right no-repeat;
}
//todo -work -------------------


//* <АДАПТИВ>====================================================================================================
//? Point 1 ----------------------------------
   @media (max-width: $md1+px) {}
//? Point 2 ----------------------------------
   @media (max-width: $md2+px) {}
//? Point 3 ----------------------------------
   @media (max-width: $md3+px) {}
//? Point 4 ----------------------------------
   @media (max-width: $md4+px) {}
//? Point 5 ----------------------------------
   @media (max-width: $md5+px) {}
//* </ДОПОЛНИТЕЛЬНЫЙ ТЕСТОВЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
