//* <МИКСИНЫ>===============================================================================================
   @import "_mixins";

//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap');

//<Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      color: #6c7279;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1200;
   // $md1: $mw + 12;
   // $md2: 991.98;
   // $md3: 767.98;
   // $md4: 479.98;

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   @import "_null";

//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   @import "_header";
   // @import "footer.scss";

//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   // &.loaded {
   // }
}
// .empty-space {
//    height: 700px;
//    width: 100%;
//    background-color: #fff;
//    text-align: center;
//    border-top: 1px solid #ccc;
// }

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
   // @media (max-width: $md1+px) {
   // 	max-width: 970px;
   // }
   // @media (max-width: $md2+px) {
   // 	max-width: 750px;
   // }
   // @media (max-width: $md3+px) {
   // 	max-width: none;
   // 	padding: 0 10px;
   // }
}

//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -Intro -------------------
.intro {
   background: url("../img/intro/intro-bg.jpg") #31354f no-repeat center;
   background-size: cover;
}
.intro-inner {
   height: 750px;
   padding-top: 100px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
		&__title {
         @include fontFWSCL('Open Sans',700,65px,#fff,1.1);
         text-transform: uppercase;
         max-width: 920px;
      }
		&__subtitle {
         @include fontFWSCL('Raleway',400,22px,#fff,1.5);
         max-width: 960px;
         margin-top: 40px;
      }
		&__link {
         @include fontFWSC('Raleway',600,13px,#fff);
         text-transform: uppercase;
         padding: 18px 45px;
         margin-top: 80px;

         background-color: #e84545;
         border-radius: 2px;
         transition: background-color .2s linear;
         cursor: pointer;
         &:hover {
            text-decoration: none;
            background-color: #a82626;
         }
      }
}

//todo -Features -------------------
.features {
   display: flex;
   flex-wrap: wrap;
   padding: 85px 0;
}
.features-item {
   width: 33.3333%;
   margin: 35px 0;
   padding: 0 35px;
   text-align: center;
		&__icon {display: inline-block;}
		&__title {
         @include fontFWSC('Raleway',700,14px,#2d3033);
         text-transform: uppercase;
         margin-top: 33px;
      }
		&__text {
         @include fontFWSCL('Raleway',400,14px,#6c7279,1.5);
         max-width: 320px;
         margin-top: 27px;
      }
}

//todo -Works -------------------
.works {
   width: 100%;
   max-width: 1900px;
   display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
}
.works-item {
   width: 25%;
   height: 350px;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   background-color: #e84545;
   border-right: 1px #fff solid;
   border-bottom: 1px #fff solid;
   overflow: hidden;
   position: relative;
   &:hover &__photo{
      opacity: .1;
   }
   &__photo {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
      transition: opacity .2s linear;
   }
   &__title {
      @include fontFWSC('Raleway',700,14px,#fff);
      text-transform: uppercase;
   }
   &__text {
      @include fontFWSC('Raleway',400,14px,#fff);
      margin-top: 14px;
   }
}

//todo -Team -------------------
.team {
   padding: 70px 0;
   margin: 0 -15px;
   display: flex;
   flex-wrap: wrap;
}
.team-item {
   width: 25%;
   padding: 0 15px;
   margin: 30px 0;
   &__avatar {display: block;}
   &__title {
      @include fontFWSC('Raleway',400,22px,#2d3033);
      margin-top: 30px;
   }
   &__speciality {
      @include fontFWSC('Raleway',400,13px,#e84545);
      text-transform: uppercase;
      margin-top: 16px;
   }
   &__text {
      @include fontFWSCL('Raleway',400,14px,#6c7279,1.5);
      margin-top: 29px;
   }
}
.social {
   margin-top: 30px;
   display: flex;
		&__item {
         width: 40px;
         height: 40px;
         border: 1px #c6cacc solid;
         margin-right: 4px;
         transition: background-color .15s linear;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         svg {
            height: 18px;
            width: 18px;
            fill: #c6cacc;
            transition: fill .15s linear;
         }
         &:hover {
            background-color: #c6cacc;
            svg.facebook {fill: #385898;}
            svg.twitter {fill: #76A9EA;}
            svg.linkedin {fill: #0077B7;background-color: #fff;}
         }
      }
}

//todo -Reviews -------------------
.reviews {
   display: flex;
   width: 100%;
   max-width: 1900px;
   margin: 0px auto;
   background-color: #53354a;
   &__photo {
      width: 50%;
      height: 500px;
      overflow: hidden;
      position: relative;
      img {
         position: absolute;
         top: 50%;
         right: 0;
         z-index: 2;
         transform: translateY(-50%);
      }
   }
   &__content {
      width: 50%;
      padding-left: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__text {
      @include fontFWSCL('Cardo',300,36px,#fff,1.16);
      max-width: 510px;
   }
   &__author {
      @include fontFWSC('Raleway',700,13px,#fff);
      text-transform: uppercase;
      margin-top: 35px;
   }
}

//todo -Download -------------------
.download {
   padding: 100px 0;
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__title {
      @include fontFWSC('Raleway',300,28px,#2d3033);
   }
   &__subtitle {
      @include fontFWSC('Raleway',700,13px,#2d3033);
      text-transform: uppercase;
      margin-top: 20px;
   }
   &__link {
      @include fontFWSC('Raleway',600,13px,#fff);
      text-transform: uppercase;
      padding: 20px 80px;
      margin-top: 40px;

      background-color: #e84545;
      border-radius: 2px;
      transition: background-color .2s linear;
      cursor: pointer;
      &:hover {
         text-decoration: none;
         background-color: #a82626;
      }
   }
}

//todo -Footer -------------------
.footer {
   padding: 65px 0 85px;
   background-color: #3a3e64;
   .container {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
   }
}
.footer-item {
   width: 33%;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__title {
      @include fontFWSC('Raleway',700,14px,#fff);
      text-transform: uppercase;
      margin-bottom: 20px;
   }
   &__text {
      @include fontFWSCL('Raleway',400,14px,rgba(255, 255, 255, 0.5),1.6);
      &.address {
         max-width: 160px;
      }
      &.about {
         max-width: 360px;
      }
   }
   .social {
      margin-top: 0;
      &__item {
         border: 2px #fff solid;
         svg {
            fill: #fff;
         }
         &:hover {
            background-color: #fff;
         }
      }
   }
}

//todo -Copyright -------------------
.copyright {
   padding: 30px 0;
   background-color: #313454;
   text-align: center;
   &__text {
      @include fontFWSCL('Raleway',400,14px,#808080,1.6);
      max-width: 320px;
      .heart {color: #e84545;}
      span {color: #fff;}
   }
}




// .footer {
//    background-color: #3a3e64;
//    text-align: center;
//    &__inner {
//       display: flex;
//       padding: 70px 0px 85px 0px;
//    }
//    &__copyright {
//       padding: 30px 0;
//       background-color: #313454;
//       text-align: center;
//       p {
//          display: inline-block;
//          max-width: 320px;
//          @include fontFWSCL('Raleway',400,14px,#808080,1.6);
//          span {
//             color: #fff;
//             &.heart {
//                color: #e84545;
//             }
//          }
//       }
//    }
// }
// .footer-location {
//    width: 33.333%;
//    &__title {
//       @include fontFWSC('Raleway',700,14px,#fff);
//       margin-bottom: 23px;
//       text-transform: uppercase;
//    }
//    &__text {
//       display: inline-block;
//       max-width: 160px;
//       @include fontFWSCL('Raleway',400,14px,#fff,1.6);
//       font-style: normal;
//       opacity: .5;
//    }
// }
// .footer-social {
//    width: 33.333%;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    &__title {
//       @include fontFWSC('Raleway',700,14px,#fff);
//       margin-bottom: 23px;
//       text-transform: uppercase;
//    }
//    .social {
//       margin-top: 0;
//       &__item {
//          border: 3px #fff solid;
//          border-radius: 2px;
//       }
//       &__svg {
//          fill: #fff;
//          &.linkedin{
//             background: none;
//          }   
//       }
//    }
// }
// .footer-about {
//    width: 33.333%;
//    &__title {
//       @include fontFWSC('Raleway',700,14px,#fff);
//       margin-bottom: 23px;
//       text-transform: uppercase;
//    }
//    &__text {
//       display: inline-block;
//       max-width: 360px;
//       @include fontFWSCL('Raleway',400,14px,#fff,1.6);
//       opacity: .5;
//    }
// }

//* </ДОПОЛНИТЕЛЬНЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
