//* <МИКСИНЫ>===============================================================================================
   @import "mixins";
//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,500&display=swap');
// font-family: 'Montserrat', sans-serif;
//<Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
   body {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      color: #6a696b;
   }
//* <ПЕРЕМЕННЫЕ>===========================================================================================================
   $minwidth: 320px;
   $mw: 1180;
   $md1: $mw + 12;
   $md2: 991.98;
   $md3: 767.98;
   $md4: 479.98;
   $md5: 379.98;
//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
   @import "null";
//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
   @import "header";
   // @import "footer.scss";
//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
.empty-space {
   height: 700px;
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-top: 1px solid #ccc;
}
//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}
//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -Intro -------------------
.intro {
   &__inner {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px #f1f1f1 solid;
   }
}
.intro-content {
   width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   &__greeting {
      @include fontFWSC('Montserrat',300,32px,#2b2a2c);
      margin-bottom: 7px;
   }
   &__name {
      @include fontFWSC('Montserrat',700,45px,#2b2a2c);
      margin-bottom: 12px;
   }
   &__prof {
      @include fontFWSC('Montserrat',400,18px,#6a696b);
      margin-bottom: 20px;
   }
   button {
      padding: 18px 45px;
      margin-right: 14px;
      font-size: 16px;
      &:last-child {margin-right: 0;}
   }
}
.social {
   display: flex;
   margin-bottom: 35px;
   position: relative;
   &__item {
      position: relative;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-color: #ccc;
      transition: bottom .1s linear, box-shadow .1s linear;
      svg {width: 70%;height: 70%;fill: #fff;}
      &.behance{background-color: #1869ff;}
      &.dribbble{background-color: #e51a68;}
      &.linkedin{background-color: #007bb6;}
      &.facebook{background-color: #3a5898;}
      &.instagram{background-color: #13578a;}
      &.twitter{background-color: #56acef;}

      &:hover {bottom: 5px;box-shadow: 2px 2px 5px #6a696b;}
   }
}
.intro-photo {
   width: auto;
   min-width: 55%;
   display: flex;
   flex-direction: row-reverse;
   padding-right: 70px;
   background: #fff url(../img/intro/bg.png) right no-repeat;
}

//todo -work -------------------
.work{
   text-align: center;
   padding: 0 0 125px;
   &__btn {margin: 20px 0 0;}
}
.filter {
   text-align: center;
   padding: 30px 0;
   &__link {
      @include fontFWSC('Montserrat',400,14px,#6a696b);
      margin-left: 33px;
      transition: font-weight .1s linear;
      position: relative;
      &:first-child {margin-left: 0;}

      &:before {
         content: "";
         position: absolute;
         bottom: -4px;
         left: 0;
         width: 0;
         height: 2px;
         background-color: #2b2a2c;
         transition: width .2s linear;
      }
      &:hover {
         text-decoration: none;
         color: #000;
         &:before {width: 100%;}
      }
      &.active {
         color: #000;
         &:before {width: 100%;}
      }
   }
}
.portfolio {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   position: relative;
}
.portfolio-item {
   position: relative;
   bottom: 0;
   right: 0;
   width: 30%;
   max-height: 435px;
   box-shadow: 0px 0px 5px;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
   transition: bottom .1s linear,
      right .1s linear,
      box-shadow .1s linear,
      width .3s linear,
      max-height .3s linear,
      font-size .3s linear;
   margin: 0 15px 30px;
   &:hover {
      bottom: 5px;
      right: 5px;
      box-shadow: 5px 5px 5px;
   }
   &.hide {
      width: 0;
      max-height: 0;
      font-size: 0;
      margin: 0;
   }
   &__image {display: block;width: 100%;}
   &__suptitle {
      @include fontFWSC('Montserrat',400,12px,#2b2a2c);
      text-transform: uppercase;
      margin: 18px 10px 0;
      text-align: left;
   }
   &__title {
      display: flex;
      justify-content: space-between;
      @include fontFWSC('Montserrat',700,16px,#2b2a2c);
      text-transform: uppercase;
      margin: 16px 10px 15px;
   }
}

//todo -about -------------------
.about {
   &__inner {display: flex;padding-bottom: 135px;}
   &__col {
      width: 100%;
      &:last-child {padding-left: 40px;}
   }
   &__photo {
      background: url('../img/about/bg.png') no-repeat;
      background-position: 20% 100%;
      img {display: block;}
   }
   &__suptitle {
      @include fontFWSCL('Montserrat',700,45px,#2b2a2c,.8);
      text-transform: uppercase;
      margin: 35px 0 25px;
   }
   &__title {
      @include fontFWSCL('Montserrat',700,92px,#dedede,.8);
      text-transform: uppercase;
      margin-bottom: 35px;
   }
   &__text {
      @include fontFWSCL('Montserrat',300,12px,#717072,2);
      margin-bottom: 40px;
   }
}
.about-btns {
   &__item {
      padding: 15px 50px;
      &:not(:last-child) {margin-right: 15px;}
   }
}

//todo -reviesw -------------------
.reviews {
   &__text {
      padding: 70px 0;
      background: #332f30 url('../img/review/bg.png');
      text-align: center;
      p {@include fontFWSCL('Montserrat',200,14px,#fff,2.28);max-width: 820px;}
   }
}
.reviews-client {
   margin: -50px 0 0;
   text-align: center;
   &__photo {
      width: 100px;
      height: 100px;
      margin: 0px auto 14px;
      border-radius: 50%;
      border: 3px #efefef solid;
      overflow: hidden;
      position: relative;
      img{
         position: relative;
         top: 50%;
         left: 50%;
         transform: translate3d(-50%, -50%,0);
         display: block;
      }
   }
   &__title {
      @include fontFWSCL('Montserrat',700,14px,#2b2a2c,.8);
      margin-bottom: 10px;
   }
   &__subtitle {
      @include fontFWSCL('Montserrat',300,14px,#717072,.8);
      font-style: italic;
      margin-bottom: 10px;
   }
   &__ratting {
      svg {
         width: 15px;
         height: 15px;
         margin-right: 2px;
      }
   }
}

//todo -blog -------------------
.blog {
   &__inner {
      text-align: center;
      padding: 100px 0;
   }
   &__title {
      @include fontFWSCL('Montserrat',700,45px,#2b2a2c,.8);
      text-transform: uppercase;
      margin-bottom: 17px;
   }
   &__subtitle {
      @include fontFWSCL('Montserrat',300,18px,#717072,.8);
      margin-bottom: 20px;
   }
   &__content {
      display: flex;
      justify-content: center;
      margin: 0 -15px;
   }
   &__link {
      text-align: right;
      a {
         text-decoration: underline;
         &:hover {text-decoration: none;}
      }
   }
}
.blog-item {
   width: 30%;
   margin: 35px 15px;
   overflow: hidden;
   text-align: left;
   &__img {
      position: relative;
      margin-bottom: 23px;
      img {display: block; width: 100%;}
   }
   &__date {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #2b2a2c;
      padding: 19px;
      @include fontFWSCL('Montserrat',700,16px,#fff,1);
      text-align: center;
   }
   &__title {
      @include fontFWSCL('Montserrat',700,18px,#2b2a2c,.8);
      text-transform: uppercase;
      margin-bottom: 13px;
   }
   &__subtitle {
      @include fontFWSCL('Montserrat',400,12px,#2b2a2c,.8);
      text-transform: uppercase;
      margin-bottom: 27px;
   }
   &__text {
      @include fontFWSCL('Montserrat',300,12px,#717072,2);
      margin-bottom: 37px;
   }
}

//todo -footer -------------------
.footer {
   background-color: #2b2a2c;
   &__inner {
      display: flex;
      padding: 14px 0;
   }
   &__col {
      width: 50%;
      display: flex;
      align-items: center;
      &:last-child {justify-content: end;}
   }
}
.copyright {
   padding-right: 14px;
   margin-right: 17px;
   border-right: 1px #413f41 solid;
   color: #8d8d8e;
}
.social.footer {
   align-items: center;
   margin-bottom: 0;
   .social__item {
      margin-right: 0;
      svg {
         fill: #8d8d8e;
         transition: fill .1s linear;
      }
      &.behance,
      &.dribbble,
      &.linkedin,
      &.facebook,
      &.instagram,
      &.twitter {background-color: transparent;}
      &:hover {
         bottom: 0;
         box-shadow: none;
         svg {fill: #fff;}
      }
   }
}
.nav.footer {
   .nav__link {
      color: #8d8d8e;
      margin-left: 19px;
      transition: color .1s linear;
      &:hover {color: #fff;}
      &.btn-black {
         background-color: #2b2a2c;
         border-color: #8d8d8e;
         transition: background-color .1s linear;
         &:hover {
            background-color: #3a393b;
            color: #fff;
         }
      }
   }
}

//todo -modal windows -------------------


//* <АДАПТИВ>====================================================================================================
//? Point 1 ----------------------------------
   @media (max-width: $md1+px) {}
//? Point 2 ----------------------------------
   @media (max-width: $md2+px) {}
//? Point 3 ----------------------------------
   @media (max-width: $md3+px) {}
//? Point 4 ----------------------------------
   @media (max-width: $md4+px) {}
//? Point 5 ----------------------------------
   @media (max-width: $md5+px) {}
//* </ДОПОЛНИТЕЛЬНЫЙ ТЕСТОВЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
