@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@300;400;700&display=swap');
body {
  /* background-color: red; */
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 16px;
}
.root {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.nav li {
  font-size: 20px;
}
.nav li:hover {
  text-decoration: underline;
}

.main-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.filter {
  padding: 15px;
}

.content {
  width: 100%;
  padding-top: 15px;
}

.pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clear-btn {
  width: 100%;
  margin: 8px 0 0 0;
}

.th {
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.th:hover {
  background-color: rgba(154, 156, 255, 0.2666666667);
}

.sort_icon {
  width: 25px;
  height: 25px;
  margin-left: 3px;
}

svg.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
  height: 200px;
  fill: rgb(152, 145, 255);
  -webkit-animation: 5s loader linear infinite;
  animation: 5s loader linear infinite;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
    transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
  }
  to {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-360deg);
    transform: translate3d(-50%, -50%, 0) rotateZ(-360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
    transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
  }
  to {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-360deg);
    transform: translate3d(-50%, -50%, 0) rotateZ(-360deg);
  }
}
