

/* Global
============================================*/
	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}

	body {
		margin: 0;

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.3;
		letter-spacing: -0.5px;

		background-color: #2a2928;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	svg {
		width: 30px;
		height: 30px;

		transition: .1s all linear;
	}

/* Container
============================================*/
	.container {
		margin: 0 auto;

		width: 100%;
		max-width: 1300px;
		/*2550/2=1300*/
	}

/* Header
============================================*/
	.header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;

	}
		
	.header-inner {
		height: 40px;
		background: linear-gradient(to bottom, #000 40%, transparent 120%);

		opacity: .7;
		transition: all .2s linear;
		
	}

	.header-inner:hover {
		opacity: .9;
	}

	.nav {
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.nav__link {
		color: #fff;
		transition: color .1s linear;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 20px;
		color: #dedede;
	}

	.enru {
		display: flex;
		justify-content: space-between;
	}

	.enru-link {
	    position: relative;
	    display: flex;
	    margin-right: 10px;
	    width: 20px;
	    height: 15px;
	    overflow: hidden;
	}

	.enru-link.ru {
		border: 1px #fff solid;
	}

	.enru-link:hover {
	    border: 1px #fff solid;
	    opacity: 1;
	}

	.enru-link:active {
		opacity: .3;
	}

	.enru-img {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    z-index: 1;
	    transform: translate3d(-50%, -50%, 0);
	    width: 20px;
	    opacity: .7;
		
		display: block;
	}

	.enru-img: {
    	opacity: 1;
	}

	.burger-nav__link {
		color: #fff;
		transition: color .1s linear;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 20px;
		color: #dedede;
		padding-bottom: 5px;
	}

	.nav__link:hover {
		color: #9ee1ff;
	}

	

	.burger-nav__link:hover {
		color: #9ee1ff;
	}

	.logo {
		display: none;

		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 25px;
		color: #dedede;
	}

	.burger-nav {
		display: none;

		background: none;
		border: none;

		height: 100%;

		align-items: center;
		justify-content: flex-end;

		margin: 0 0 0 auto;

		overflow: hidden;

	}

	.burger-nav:focus {
		outline: none;
	}

	.burger__item {
		font-size: 0;
		color: transparent;

		width: 35px;
		height: 3px;

		background-color: #fff;
		position: relative;

		transition: all .1s linear;
	}

	.burger__item:after {
		content: "";
		position: absolute;
		top: 8px;
		right: 0;
		z-index: 1;

		width: 35px;
		height: 3px;

		background-color: #fff;
		transition: all .1s linear;
	}

	.burger__item:before {
		content: "";
		position: absolute;
		top: -8px;
		right: 0;
		z-index: 1;

		width: 35px;
		height: 3px;

		background-color: #fff;
		transition: all .1s linear;
	}

	.burger-links {
		display: none;
	}

	.header.fixed {
		position: fixed;
	}

	.header.fixed .header-inner {
		background: linear-gradient(to bottom, #000 100%, transparent 100%);
		opacity: 1;
	}

	.burger-nav.active .burger__item {
		transform: rotateZ(45deg);
	}

	.burger-nav.active .burger__item:after {
		display: none;
	}

	.burger-nav.active .burger__item:before {
		transform: rotateZ(-90deg);
		top: -1px;
	}

	.burger-nav.active .burger-links {
		display: flex;
	    flex-direction: column;
	    position: absolute;
	    top: 100%;
	    right: 0;
	    z-index: 1000;
	    width: 100%;
	    background: linear-gradient(to bottom, #282626, #373434);

	    overflow: hidden;

		transition: all .2s linear;

	    animation-name: height;
	    animation-duration: .4s;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}

	@keyframes height {
		0% {height: 0px;}
		99% {height: 145px;}
		100% {height: auto;}
	}

	.header.fixed .burger-links {
		background: linear-gradient(to bottom, #000, #5e5e5e);
	}

/* Intro
============================================*/
	.intro-inner {
		padding: 55px 25px 20px;
		display: flex;

		background: #373434 url("img/intro/leftbg.png");
		background-position: 200px -60px;
	}
		

	.avatar {
		width: 225px;
		height: 225px;

		overflow: hidden;
		position: relative;

		border-radius: 10px;
		opacity: 1;

		border: 3px #fff solid;
	}

	.photo {
		width: 100%;
		height: auto;
		position: relative;
		top: 45%;

		transform: translateY(-55%);

	}

	.author {
		display: flex;
		flex-direction: column;

		padding-left: 20px;
	}

	.author--adapt {
		display: none;
	}

	.aa-name {
		font-family: 'Montserrat', sans-serif;
	    font-weight: 500;
	    font-size: 28px;
	    color: #e7e7e7;
	    padding-top: 10px;
	}

	.aa-speciality {
		font-family: 'Montserrat', sans-serif;
	    font-weight: 500;
	    font-size: 18px;
	    color: #e7e7e7;
	    padding-top: 10px;
	    text-align: center;

	}

	.name {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 28px;
		color: #e7e7e7;
	
	}

	.surname {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: #e7e7e7;
		font-size: 28px;
	
		padding-left: 20px;
	}

	.speciality-first {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #e7e7e7;
		font-size: 23px;

		margin-top: 15px;

	}

	.speciality-last {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #e7e7e7;
		font-size: 23px;

		padding-left: 20px;

	}

	.speciality-level {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #e7e7e7;
		font-size: 23px;

		padding-left: 40px;
	}

/* BiographySocial (biosoc)
============================================*/
	.biogsoc-inner {
		display: flex;
		flex-wrap: wrap;

		background-color: #fff;
	}

	.biog {
		width: 100%;
		padding: 25px 25px 0;
		position: relative;
	}

	.biog__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: #333333;

	}

	.biog__text {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 15px;
		color: #3f3f3f;
		letter-spacing: -0.5px;
		word-spacing: 3px;
		line-height: 1.7;

		margin-top: 10px;
	}

	.txt-offset {
		font-size: 6px;
		color: transparent;
		line-height: 1;
	}

	.float {
		float: right;
	}

	.biog__line {
		width: 2px;
		height: 80%;

		background-color: #e4e4e3;
		color: transparent;
		font-size: 0;

		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

	}

	.social {
		width: 30%;
		padding: 7px 10px 7px 6px;
		margin: -43px 0px 0 10px;
    	
    	background-color: #f2f0f0;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.social__link {
		height: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 15px;
		color: #3f3f3f;

		padding: 3px 10px 3px;

		transition: .2s all linear;

	}

	.social__link__icon {
		display: flex;
		width: 60px;
		padding-right: 10px;
	}


	.social__link--twoopart {
		color: #b1b1b0;
		float: right;
	}

	.social__link__icon .facebook {
		height: 25px;
		max-width: 25px;
	}

	.social__link:hover {
		background-color: #cacaca;
		text-decoration: underline;
	}

	.social__link:hover .mail {
		fill: red;
	}

	.social__link:hover .facebook {
		fill: #29487d;
	}

	.social__link:hover .viber {
		fill: #7d579b;
	}

	.social__link:hover .telegramm {
		fill: #4976dc;
	}


/* Skills-Interest (skillinter)
============================================*/
	.skillinter-inner {
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	.skillinter__item {
		width: 50%;
		padding: 0 25px;

	}

	.skill__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: #333333;

		padding: 20px 0 20px;
	}

	.skill__item {
		width: 100%;
		display: flex;
		align-items: center;

		padding: 4px 0;

		transition: .2s all linear;

		position: relative;
	}

	.skill__item:hover {
		background-color: #cacaca;
	}

	.skill__name {
		width: 50%;

		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 20px;
		color: #333333;

		padding: 0 0 0 10px;

	}

	.skill__level {
		width: 50%;
		height: 12px;

		border: 2px #363434 solid;
		font-size: 0;
		color: transparent;
		margin: 0 30px;

	}

	.skill__level.html {
		background: linear-gradient(to right, #363434 80%, #fff 0);
	}

	.skill__about {
		opacity: 0;

		position: absolute;
		top: 25%;
		right: 0;
		z-index: 1;

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 13px;
		color: #333333;

		transition: opacity .2s linear;
	}
	
	.skill__item:hover .skill__about {
		opacity: 1;
	}
	
	.skill__level.css {
		background: linear-gradient(to right, #363434 77%, #fff 0);
	}
	
	.skill__level.photoshop {
		background: linear-gradient(to right, #363434 85%, #fff 0);
	}

	.skill__level.js {
		background: linear-gradient(to right, #363434 26%, #fff 0);

		animation-name: opacitySkill; 
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes opacitySkill {
		0% {opacity: .6}
		50% {opacity: 1}
		100% {opacity: .6}
	}

	.skill__item__loading {
		width: 25px;
		height: 25px;

		position: absolute;
		top: 17%;
		right: 0;
		z-index: 1;
		fill: #000;

		animation-name: rotation; 
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

	}

	@keyframes rotation {
		from {transform: rotateZ(0deg);}
		to {transform: rotateZ(360deg);}
	}

	.skill__level.jquery {
		background: linear-gradient(to right, #363434 30%, #fff 0);
	}

	.skill__level.eng {
		background: linear-gradient(to right, #363434 58%, #fff 0);
	}
	
	.skill__level.learnab {
		background: linear-gradient(to right, #363434 95%, #fff 0);
	}

	.interest__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		margin-top: -25px;
	}

	.interest__item {
		width: 33.3333%;
		height: 140px;

		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		transition: .2s all linear;

		margin-top: 10px;
	}

	.interest__name {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 18px;
		color: #333333;
		text-align: center;
	}
		

	.interest__item-svg {
		width: auto;
		height: 100%;
		max-width: 50%;
	}

/* Portfolio (potrolio)
============================================*/
	.potrolio-inner {
		background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;

	}

	.portfolio__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: #333333;
		text-align: center;

		padding: 20px 0;
	}
	
	.potrolio-works {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
   		padding: 0 25px;
    
	}	

	.works__item {
		width: 45%;
		height: 50%;
	
		margin: 10px 10px;

		transition: .2s all linear;

		background-color: #000;

		position: relative;

		border: #bbb 3px solid
	}

	.works__item .works__item--img {
		width: 100%;
		display: block;

		transition: .2s all linear;
	}

	.work-adapt {
		position: absolute;
		top: 4%;
		right: 4%;
		z-index: 4;

		width: 40px;
		display: block;

		transition: opacity .2s linear;
	}

	.work-adapt .work-adapt__img {
		position: absolute;
		top: 0;
		right: 0;

		width: 100%;
		opacity: 0.4;
		display: block;

		transition: opacity .2s linear;
	}

	.work-adapt__img--donebox {
		position: relative;
		top: 0;
		right: 0;
		z-index: 1;
	}

	.work-adapt__img--done {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-40%, 20%, 0);

		width: 40%;
		opacity: 0;
		display: block;

		transition: opacity .2s linear;
	}

	.work-psd {
		position: absolute;
	    top: 17%;
	    right: 3.8%;
	    z-index: 4;
	    
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 670;
	    font-size: 20px;
	    color: #ccc;

	    opacity: .4;

	    transition: opacity .2s linear;

	}

	.work-psd-inner {
		position: relative;
		top: 0;
		left: 0;
	}

	.wpi--download-link {
		transition: opacity .2s linear;
	}

	.wpi--download-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 3;

		width: 55%;

		opacity: 0;

		transition: opacity .2s linear;
	}

	.works__item:hover {
		transform: translate3d(-10px, -10px, 0);
		box-shadow: #cacaca 10px 10px 5px 5px;
	}

	.works__item:hover .works__item--img {
		opacity: .1;
	}

	.works__item:hover .work-adapt__img {
		opacity: 1;
	}

	.work-adapt:hover .work-adapt__img {
		opacity: .2;
	}

	.work-adapt:hover .work-adapt__img--done {
		opacity: 1;
	}

	.works__item:hover .work-psd {
		opacity: 1;
	}

	.work-psd:hover .wpi--download-link {
		opacity: .2;
	}

	.work-psd:hover .wpi--download-img {
		opacity: 1;
	}

	.potrolio-about {
		position: absolute;
	    top: 50%;
	    left: 0;
	    z-index: 1;

	    transform: translateY(-50%);

	    display: inline-block;
	    flex-direction: column;

	    width: 100%;
	    padding: 10px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 20px;
		color: #fff;
		text-align: center;
	
		opacity: 0;

		transition: opacity .2s linear;
	}

	.potrolio-about__title {
		padding-bottom: 10px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 20px;
	}
	
	.potrolio-about__info {
		padding-bottom: 10px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 20px;

		display: flex;
	}

	.pai__property {
		width: 50%;

		font-weight: 600;
		font-size: 18px;

		text-align: right;
	}

	.pai__value {
		width: 50%;

		font-weight: 400;
		font-size: 18px;

		text-align: left;
	}


	.potrolio-about__link {
		text-decoration: underline;
		transition: all .2s linear;

		font-weight: 500;
		font-size: 18px;

		padding-bottom: 10px;


	}

	.potrolio-about__link:hover {
		font-weight: 300;
	}

	.works__item:hover .potrolio-about {
		opacity: 1;
	}

	.potrolio-continue {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 20px;
		color: #333333;
		text-align: center;

		margin: 10px auto;

		cursor: progress;

		width: 100%;
		max-width: 270px;

		transition: background .2s linear;
	}

	.potrolio-continue:hover {
		background-color: #cacaca;
	}

	.potrolio-viewed {
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		font-size: 15px;
		font-style: italic;
	}

	.works__item.progress {
		cursor: progress;
	}
	
	.progress .works__item--img {
		opacity: .2;
	}

	.works__item--progress-img {
		position: absolute;
		top: 40%;
		left: 45%;
		z-index: 1;
		transform: translate3d(-50%, -50%, 0);
		transition: all .2s linear;
		opacity: .3;
		width: 50px;

		animation-name: rotateWI; 
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes rotateWI {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(360deg);}
	}

	.works__item.progress:hover .works__item--progress-img {
		top: 30%;
		opacity: .8;
	}

	.works__item--progress-txt {
		position: absolute;
	    bottom: 33%;
	    left: 50%;
	    z-index: 1;
	    transform: translateX(-50%);
	    color: #fff;

	    font-family: 'Montserrat', sans-serif;
	    font-weight: 400;
	    font-size: 20px;

	    opacity: 0;

	    transition: all .2s linear;
	}

	.works__item.progress:hover .works__item--progress-txt {
		opacity: .8;
	}

/* Footer
============================================*/
	.footer-inner {
		background-color: #373434;

		display: flex;
		justify-content: center;

		padding: 20px 0;

		position: relative;
	}

	.footer-btn {
		padding: 10px 10px;
		background-color: #c0c0c0;
		cursor: pointer;
		border-radius: 5px;
		transition: all .1s linear;

		font-size: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 18px;

	}

	.footer-btn:hover {
		background-color: #aaaaaa;
	}


	.footer-btn:active {
		background-color: #494949;
	}

	.social.footer {
		position: fixed;
	    top: 120%;
	    left: 50%;
	    z-index: 1;
	    transition: all .2s linear;
		
		width: 340px;

	    transform: translate3d(-50%, 0, 0);

	    opacity: 1;
	}

	.footer-btn.active .social.footer {
		background-color: #fff;
	    top: 30%;
	    z-index: 6;
		cursor: default;

	    animation: opacitys;
		animation-duration: .5s;
	}

	@keyframes opacitys {
		0% {opacity: 0;}
		20% {opacity: 0;}
		100% {opacity: 1;}
	
	}

	.antifon {
		display: none;
		position: fixed;
	    top: 0;
	    right: 0;
	    z-index: 5;
	    width: 100%;
	    height: 100%;
	    background-color: #000;
	    opacity: .7;
	    cursor: default;
	}

	.footer-btn.active .antifon {
		display: block;

		animation: opacity;
		animation-duration: .2s;
	}

	@keyframes opacity {
		from {opacity: 0;}
		to {opacity: .7;}
	}




/* MEDIA 810
============================================*/
	@media (max-width: 810px) {
	
	/*Header*/
	.intro-inner {
	    background-position: 50px -40px;
	}

	/*biogsoc*/
	.biog {
	    width: 100%;
	    padding: 15px 15px 0;
	}

	.biog__text {
		display: flex;
    	flex-direction: column-reverse;
	}

	.social.adapt {
	    width: 100%;
	    margin: 10px 0 0 0;
	    padding: 5px 15px 5px;
	    flex-direction: row;
	}

	.biog__text--hide {
		height: 300px;
   	 	overflow: auto;
   	 	border: 2px #ccc solid;
   	 	padding: 5px 10px 0px;
	}

	/*skillinter*/
	.skillinter__item {
	    width: 100%;
	    padding: 15px 25px 0;
	}

	/*portfolio*/
	.works__item {
    	width: 100%;
	}
		}

/* MEDIA 670
============================================*/
	@media (max-width: 670px) {
	/*Header*/

	/*biogsoc*/
	.social.adapt {
	    width: 100%;
	    flex-direction: row;
	    flex-wrap: wrap;
	}

	.social__link.adapt {
	    width: 50%;
	    justify-content: flex-start;
	}
	
	/**/

	.potrolio-works {
	    padding: 0 5px;
	}

	.works__item {
    	margin: 5px 10px;
	}

	.works__item:hover {
	    transform: translate3d(-5px, -5px, 0);
	    box-shadow: #cacaca 10px 10px 5px -5px;
	}
	
	.potrolio-continue {
	    font-size: 16px;
	}

	.footer-btn {
    	font-size: 13px;

	}
	}

/* MEDIA 510
============================================*/
	@media (max-width: 510px) {
	
	/* header */
	.header-inner {
		display: flex;
	}

	.nav {
		display: none;
	}

	.burger-nav {
		display: flex;
	}

	.header-inner {
	}

	.enru {
    	justify-content: center;
	}

	.enru-link {
    	margin: 5px 20px 10px;
    }

	.logo {
		display: block;
		padding: 2px 10px 0;
	}

	/*intro*/
	.intro-inner {
    	background-image: none;
	}

	/**/

	.skill__item {
	    width: 100%;
	    display: block;
	}

	.skill__item__loading {
	    width: 20px;
	    height: 20px;
	    right: 6px;
	}

	.skill__name {
    	width: 100%;
	}

	.skill__level {
	    width: auto;
	    margin: 0 10px;
	}

	.potrolio-continue {
	    font-size: 14px;
	}

	.footer-btn {
    	font-size: 12px;
	}
	}

/* MEDIA 430
============================================*/
	@media (max-width: 430px) {

	/*intro*/
	.intro-inner {
		flex-wrap: wrap;
    	justify-content: center;
	}

	.avatar {
	    width: 230px;
	    height: 230px;
	}

	.photo {
	    display: block;
	    width: 100%;
	    height: auto;
	    top: -30%;
	    transform: none;
	}

	.author {
		display: none;
	}


	.author--adapt {
		display: block;
	}


	/**/

	.social__link.adapt {
    	width: 100%;
    }

	/*potrolio*/
	.potrolio-about__title {
	    padding-bottom: 5px;
	    font-size: 15px;
	}

	.pai__property {
	    font-size: 15px;
	}

	.pai__value {
		font-size: 15px;
	}

	.potrolio-about__link {
	    font-size: 15px;
	    padding-bottom: 0;
	}

	.work-adapt {
	    width: 35px;
	}

	.wpi--download-link {
	    font-size: 17px;
	}

	.works__item--progress-img {
       width: 40px;
	}

	.works__item.progress:hover .works__item--progress-img {
	    top: 20%;
	}

	.works__item--progress-txt {
		font-size: 18px;
	}

    .potrolio-continue {
    	max-width: 170px;
    	font-size: 13px;
	}

	/*ftr*/

	.footer-btn {
    	font-size: 11px;
	}

	.social.footer {
		width: 290px;
    	padding: 10px 10px 10px 0px;
	}
	}

	.interest__item:hover {
	    
	}

/* MEDIA 360
============================================*/
	@media (max-width: 360px) {

	/*potrolio*/
	.potrolio-about__info {
    	padding-bottom: 0px;
	}

	.potrolio-about__title {
	    padding-bottom: 5px;
	    font-size: 12px;
	}

	.pai__property {
	    font-size: 12px;
	}

	.pai__value {
		font-size: 12px;
	}

	.potrolio-about__link {
	    font-size: 12px;
	    padding-bottom: 0;
	}

	.potrolio-viewed {
		font-size: 12px;
	}

	.work-adapt {
    	width: 30px;
	}

	.wpi--download-link {
	    font-size: 15px;
	}
	
	.works__item--progress-txt {
		font-size: 16px;
	}