//====================================================================================================
.header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
   width: 100%;
   margin: 0px auto;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      width: 100%;
      border-bottom: 1px solid #505369;
   }
	&__logo {display: block;}
   &.fixed {
      position: fixed;
      background-color: #313453;
      // .header__inner{height: 70px;}
   }
}
.header-nav {
   display: flex;
	&__link {
      @include fontFWSC('Raleway',600,13px,#fff);
      text-transform: uppercase;
      margin-left: 59px;
      opacity: .75;
      transition: opacity .15s linear;
      :first-child{margin-left: 0;}
      &:hover {text-decoration: none;opacity: 1;}
   }
}
//====================================================================================================
.header-burger {
   display: none;
   width: 50px;
   height: 40px;
   border: 0;
   background: none;
   cursor: pointer;
   &__icon {
      width: 38px;
      height: 3px;
		border-radius: 2px;
      background-color: #fff;
      font-size: 0;
      color: transparent;
      position: relative;
      transition: background-color .1s linear;
      &:after {
         content: "";
         position: absolute;
         top: 10px;
         left: 0;
         width: 38px;
         height: 3px;
         background-color: #fff;
   		border-radius: 2px;
         transition: transform .2s linear, top .2s linear;
      }
      &:before {
         content: "";
         position: absolute;
         top: -10px;
         left: 0;
         width: 38px;
         height: 3px;
         background-color: #fff;
   		border-radius: 2px;
         transition: transform .2s linear, top .2s linear;
      }
   }
   &.active {
   .header-burger__icon {
      background-color: transparent;      
      transition: background-color .1s linear;
      &:after {
         top: 0;
         transform: rotateZ(45deg);
         transition: transform .2s linear;
      }
      &:before {
         top: 0;
         transform: rotateZ(-45deg);
         transition: transform .2s linear;
      }
   }
}
}
//*=====АДАПТ=======================================================================================
//? Point 2 ----------------------------------
@media (max-width: $md2+px) {
   .header-nav__link{margin-left: 30px;}
}
//? Point 3 ----------------------------------
@media (max-width: $md3+px) {
   .header-burger{display: block;}
   .header-nav {
      position: absolute;
      top: 99%;
      right: 0;
      width: 100%;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #313453;
      border-top: 0;
      overflow: hidden;
      box-shadow: 0px 15px 20px #000;

      transition: height .2s linear;
      & a {
         margin-left: 0;
         font-size: 30px;
         margin: 15px auto;
      }
      &.active {
         height: 350px;
      }
   }
   @media (max-height: 450px) {
      .header-nav {
         flex-wrap: wrap;
         a {font-size: 25px;}
         &.active{
            height: 70vh;
         }
      }
   }





}
//? Point 4 ----------------------------------
@media (max-width: $md4+px) {
   .header__inner {height: 80px;}
   .header-nav a {font-size: 25px;}
}
//? Point 5 ----------------------------------
@media (max-width: $md5+px) {

// header
.header {
   &__inner{height: 60px;}
   &__logo {height: 20px;}
}
.header-nav {
   a {font-size: 19px;}
   &.active {
      height: 250px;
   }
}   
.header-burger{
   &__icon {
      width: 35px;
      &:after {width: 35px;}
      &:before {width: 35px;}
   }
}
}
//====================================================================================================