body {
   background-color: #ffffff;
   margin: 0;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
   margin: 0px auto;
   width: auto;
   line-height: 1;
}
a {
   text-decoration: none;
   color: inherit;
   &:hover {
      text-decoration: underline;
   }
}