@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;600;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: black;
}

body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: 0px auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #505369;
}
.header__logo {
  display: block;
}
.header.fixed {
  position: fixed;
  background-color: #313453;
}
.header.fixed .header__inner {
  height: 70px;
}

.header-nav {
  display: flex;
}
.header-nav__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 59px;
  opacity: 0.75;
  transition: opacity 0.15s linear;
}
.header-nav__link :first-child {
  margin-left: 0;
}
.header-nav__link:hover {
  text-decoration: none;
  opacity: 1;
}
.header-nav.active {
  position: absolute;
  top: 99%;
  right: 0;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #313453;
  border-top: 0;
}
.header-nav.active a {
  margin-left: 0;
  font-size: 30px;
  margin: 0px auto;
}

.header-burger {
  display: none;
  width: 50px;
  height: 40px;
  border: 0;
  background: none;
  cursor: pointer;
}
.header-burger__icon {
  width: 38px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}
.header-burger__icon:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 38px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.header-burger__icon:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 38px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.intro {
  padding-top: 100px;
  background: url("../img/intro/intro-bg.jpg") #2b2e48 center no-repeat;
  background-size: cover;
}

.intro-inner {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro-inner__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
  max-width: 950px;
}
.intro-inner__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  max-width: 970px;
  margin-top: 40px;
}
.intro-inner__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #e84545;
  padding: 18px 54px;
  margin-top: 80px;
  transition: background-color 0.15s linear;
}
.intro-inner__link:hover {
  background-color: #c13535;
  text-decoration: none;
}

.features {
  padding: 50px 0 120px;
}
.features .container {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 33.3333%;
  text-align: center;
  margin-top: 70px;
}
.features-item__icon {
  display: inline-block;
}
.features-item__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2d3033;
  margin-top: 33px;
  text-transform: uppercase;
}
.features-item__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
  max-width: 340px;
  margin-top: 24px;
  padding: 0 10px;
}

.works {
  width: 100%;
  max-width: 1900px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.works-item {
  width: 25%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #e84545;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
}
.works-item__photo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.4s linear;
}
.works-item__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.works-item__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 13px;
}
.works-item:hover .works-item__photo {
  opacity: 0.1;
}

.team-main {
  padding: 50px 0 100px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.team-item {
  width: 25%;
  margin-top: 50px;
  padding: 0px 15px;
}
.team-item__avatar {
  display: block;
  width: 100%;
}
.team-item__name {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #2d3033;
  margin-top: 30px;
}
.team-item__prof {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  margin-top: 8px;
}
.team-item__about {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
  margin-top: 28px;
}

.social {
  display: flex;
  margin-top: 30px;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px #c6cacc solid;
  margin-right: 4px;
  transition: background-color 0.1s linear;
}
.social__item svg {
  fill: #c6cacc;
  height: 20px;
  width: 20px;
  transition: fill 0.1s linear;
  background-color: transparent;
}
.social__item:hover {
  background-color: #c6cacc;
}
.social__item:hover svg.facebook {
  fill: #1976D2;
}
.social__item:hover svg.twitter {
  fill: #76A9EA;
}
.social__item:hover svg.linkedin {
  fill: #0077B7;
  background-color: #fff;
  border-radius: 2px;
}

.reviews {
  width: 100%;
  max-width: 1900px;
  margin: 0px auto;
  background-color: #53354a;
  overflow: hidden;
}
.reviews__item {
  display: flex;
}
.reviews__slider {
  height: 500px;
  overflow: hidden;
}

.reviews-photo {
  width: 50%;
  height: 500px;
  position: relative;
}
.reviews-photo img {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.reviews-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}
.reviews-content__text {
  font-family: "Cardo", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #fff;
  line-height: 1.16;
}
.reviews-content__author {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 35px;
}

.slick-dots {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: center;
}
.slick-dots button {
  padding: 0;
  margin: 0 0 20px;
  margin-right: 8px;
  border: 0;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.slick-dots button:focus {
  outline: 0;
}
.slick-dots li.slick-active button {
  opacity: 1;
}

.download .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.download__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #2d3033;
}
.download__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #2d3033;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 17px;
}
.download__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 18px 82px;
  background-color: #e84545;
  border-radius: 2px;
  transition: background-color 0.15s linear;
  cursor: pointer;
  border: 0;
}
.download__link:hover {
  background-color: #c13535;
  text-decoration: none;
}

.footer {
  background-color: #3a3e64;
}
.footer__inner {
  padding: 70px 0 90px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.footer-address {
  width: 33.333%;
}
.footer-address__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.footer-address__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
  opacity: 0.5;
  margin-top: 15px;
  display: inline-block;
  max-width: 170px;
}

.footer-social {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.footer-social .social {
  margin-top: 20px;
}
.footer-social .social__item {
  border: 3px solid #fff;
}
.footer-social .social__item svg {
  fill: #fff;
}
.footer-social .social__item:hover {
  background-color: #fff;
}

.footer-abuot {
  width: 33.333%;
}
.footer-abuot__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.footer-abuot__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
  opacity: 0.5;
  margin-top: 15px;
  display: inline-block;
  max-width: 370px;
}

.copyright {
  background-color: #313454;
  padding: 30px 0;
}
.copyright__whole-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
  line-height: 1.6;
  max-width: 330px;
}
.copyright__whole-text span {
  color: #fff;
}
.copyright__whole-text span.heart {
  color: #e84545;
}

@media (max-width: 1212px) {
  .works-item {
    width: 33.3333%;
  }
  .reviews__slider, .reviews .container {
    padding: 0;
    height: auto;
  }
  .reviews-photo img {
    height: 100%;
  }
  .reviews-content {
    padding-right: 20px;
  }
  .footer__inner {
    padding: 50px 0;
  }
}
@media (max-width: 991.98px) {
  .header-nav__link {
    margin-left: 30px;
  }
  .intro-inner__title {
    font-size: 55px;
    max-width: 740px;
  }
  .intro-inner__subtitle {
    max-width: 820px;
  }
  .features {
    padding: 0px 0 80px;
  }
  .features-item {
    width: 50%;
  }
  .works-item {
    width: 50%;
  }
  .team-item {
    width: 33.3333%;
  }
  .reviews-photo {
    height: 400px;
  }
  .reviews-content {
    padding-left: 40px;
  }
  .reviews-content__text {
    font-size: 34px;
  }
  .reviews-content__author {
    font-size: 11px;
  }
  .download .container {
    padding: 60px 0;
  }
  .copyright {
    padding: 15px 0;
  }
}
@media (max-width: 768.98px) {
  .header-nav {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .intro-inner {
    width: 100%;
    height: 650px;
  }
  .intro-inner__title {
    max-width: 590px;
  }
  .team-item {
    width: 50%;
  }
  .reviews__item {
    flex-wrap: wrap;
  }
  .reviews-photo {
    width: 100%;
    height: auto;
  }
  .reviews-photo img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .reviews-content {
    width: 100%;
    padding: 30px 20px 60px;
    text-align: center;
  }
  .reviews-content-slider {
    margin-top: 30px;
  }
  .footer__inner {
    padding-bottom: 10px;
  }
  .footer-address {
    margin-bottom: 35px;
    width: 100%;
  }
  .footer-address__text {
    max-width: none;
  }
  .footer-social {
    margin-bottom: 35px;
    width: 100%;
  }
  .footer-abuot {
    margin-bottom: 35px;
    width: 100%;
  }
  .footer-abuot__text {
    max-width: 90%;
  }
}
.slick-dots {
  width: 100%;
}

@media (max-width: 479.98px) {
  .intro-inner__title {
    font-size: 40px;
    max-width: 400px;
  }
  .intro-inner__subtitle {
    font-size: 20px;
  }
  .features-item {
    width: 100%;
  }
  .works-item {
    width: 100%;
  }
  .team-item {
    width: 100%;
    text-align: center;
  }
  .team-item img {
    width: 80%;
    margin: 0px auto;
  }
  .team-item .social {
    justify-content: center;
  }
  .reviews-content__text {
    font-size: 31px;
  }
  .download__title {
    padding: 0 20px;
    text-align: center;
  }
  .download__subtitle {
    margin-top: 30px;
  }
}