body {
	height: 100vh;
    background-color: #888;
}

.wraper {
	width: 100%;
	height: 50%;

	display: flex;

	justify-content: center;
	align-items: center;
}

.block {
	background-color: #e8e8e8;
    border: 1px solid #0006;
    border-radius: 5px;
    padding: 10px;
}

.block-title {
	display: flex;
    flex-direction: row-reverse;
	text-align: right;
    margin: 0 0 15px 0;
    background-color: #fff;
    padding: 12px 5px 5px;
    overflow: hidden;
    max-width: 169px;
}

.block-table {
	margin: 0 auto;

	background-color: #b1bbd2;
    padding: 5px;
}

button {
	width: 100%;
	min-width: 30px;
	height: 100%;
	padding: 3px;
}

.btn_h {
	height: 54px;
}

.not-active {
	cursor: not-allowed;
	background-color: #b3b3b3;
    border: 2px #949494 solid;
}

.not-active:focus {
	outline: none;
}
