// main: ../style.less

.footer__link {
	font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    color: @black;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 5px;
	&:hover {
		text-decoration: underline;
	}

}
