// main: ../style.less

.footer {
	padding: 2rem 0;

	background-color: @black;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__credits {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	font-size: 1.2rem;
	font-weight: 400;
	color: #ddddcc;
	border-right: 1px fade(@grey, 35%) solid;
	padding-right: 1.2rem;
}

.footer__social {
	display: flex;
	padding-left: 1.2rem;
	
}

.footer__social-link {
	width: 30px;
	height: 20px;

	img {
		display: block;
		width: 100%;
		height: 100%;

		fill: #ddddcc;

		transition: transform .2s linear;
	}

	&:hover img {
		transform: translateY(-4px);
	}
}

.footer__nav {
	display: flex;
	align-items: center;
}

.footer__nav-link {
	font-size: 1.4rem;
	color: #bbbbcc;
	margin-left: 2rem;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&--btn {
		text-decoration: none;
		padding: .83rem 2rem;
		border: 1px @grey solid;
		border-radius: 2.2em;
		transition: background .1s linear, color .1s linear;

		&:hover {
			text-decoration: none;
			background-color: #bbbbcc;
			border-color: #bbbbcc;
			color: @black;
		}
	}
}




