// main: ../style.less

.nav {

}

.nav__link {
	font-family: Montserrat,sans-serif;
    font-size: 1.4rem;
    color: @black;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;

	margin-left: 39px;	
	position: relative;

	/*
	&:first-child {
		margin-left: 0px;
	}
	*/

	&:after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		z-index: 2;

		width: 0px;
		height: 2px;

		background-color: @black;

		transition: width .1s linear;
	}

	&:hover {
		&:after {
			width: 100%;
		}
	}

	&.active {
		&:after {
			width: 100%;
		}
	}

	&--btn {
		font-family: Montserrat,sans-serif;
	    font-size: 1.4rem;
	    color: @black;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;

		padding: 10px 30px;
		margin-left: 3rem;
		border: 2px @black solid;
		border-radius: 30px;
		
		transition: background .1s linear;

		position: relative;
		z-index: 2;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 0%;
			height: 100%;
			background-color: #fff;
			border-radius: 30px;

			transition: all .1s linear;
		}

		&:hover {;
			&:before {
				width: 100%;
			background-color: #ccc;
			}
		}
	}


}







