// main: ../style.less


.works__inner {
	justify-content: center;
	margin: 4.5rem 0 7rem 0;
	padding: 0 1rem;

	@media (max-width: 780px) {
		margin-bottom: 5rem;
	}
}

.works__nav {
	display: flex;
	justify-content: center;

	padding-bottom: 2rem; 
}

.works__nav__link {
	margin-right: 3rem;

	font-family: Montserrat,sans-serif;
    font-size: 1.2rem;
    color: @grey;
	font-weight: 400;
	text-decoration: none;

	position: relative;
	
	&:after {
		content: "";

		position: absolute;
		left: 0;
		bottom: -3px;
		z-index: 1;

		width: 0;
		height: 2px;
		background-color: @grey;

		transition: width .2s linear;
	}

	&:hover:after {
		width: 100%;
	}

}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.5rem;
	padding-bottom: 3rem;
}

.portfolio__col {
	width: 33.33333%;
	padding: 1.5rem;

	@media (max-width: 780px) {
		width: 50%;
	}

	@media (max-width: 551px) {
		width: 100%;
	}
	
}

.portfolio__item {
	border-radius: 10px;
	border: 1px #ccc solid;
	box-shadow: 5px 5px 10px #ccc;
	overflow: hidden;
	cursor: pointer;

	transition: transform .1s linear, box-shadow .1s linear;
	
	&:hover {
		transform: scale(1.01);
		box-shadow: 7px 7px 15px #555;		
	}
}

.portfolio__item__img {
	width: 100%;
	height: auto;
	display: block;
}

.portfolio__item__content {
    padding: 18px 14px 12px;
	
	border-top: 1px #ccc solid;
    
    background: linear-gradient(to bottom, #e6e6e6, transparent);
}

.portfolio__item__content__cat {
	font-family: Montserrat,sans-serif;
    font-size: 1.2rem;
	font-weight: 400;
    color: @black;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.portfolio__item__content__title {
	font-family: Montserrat,sans-serif;
    font-size: 1.6rem;
	font-weight: 700;
    color: @black;
    text-transform: uppercase;
    
	display: flex;
    justify-content: space-between;
}

.portfolio__item__content__title__date {
	font-family: Montserrat,sans-serif;
    font-size: 1.6rem;
	font-weight: 700;
    color: @black;
    text-transform: uppercase;
}
