.about {
  &__inner {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 135px;
  }
  &__col {
    height: 100%;
    width: 50%;
    &:last-child {
      margin-left: -50px;
      // padding-left: 40px;
    }
  }
  &__photo {
    height: 100%;
    background: url('../img/about/bg.png') no-repeat;
    background-position: 20% 100%;
    img {
      display: block;
      height: 100%;
      margin: 0px auto;
    }
  }
  &__suptitle {
    @include fontFWSCL('Montserrat', 700, 45px, #2b2a2c, 0.8);
    text-transform: uppercase;
    margin: 35px 0 25px;
  }
  &__title {
    @include fontFWSCL('Montserrat', 700, 92px, #bbbbbb, 0.8);
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  &__text {
    @include fontFWSCL('Montserrat', 500, 16px, #181818, 1.7);
    margin-bottom: 40px;
  }
}
.about-btns {
  &__item {
    padding: 15px 50px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
