.footer {
  background-color: #2b2a2c;
  &__inner {
    display: flex;
    padding: 14px 0;
  }
  &__col {
    width: 50%;
    display: flex;
    align-items: center;
    &:last-child {
      justify-content: end;
    }
  }
}
.copyright {
  padding-right: 14px;
  margin-right: 17px;
  border-right: 1px #413f41 solid;
  color: #8d8d8e;
}
.social.footer {
  align-items: center;
  margin-bottom: 0;
  .social__item {
    margin-right: 0;
    svg {
      fill: #8d8d8e;
      transition: fill 0.1s linear;
    }
    &.telegram,
    &.viber,
    &.facebook,
    &.instagram,
    &.twitter,
    &.github,
    &.linkedin {
      background-color: transparent;
      background: transparent;
    }
    &:hover {
      bottom: 0;
      box-shadow: none;
      svg {
        fill: #fff;
      }
    }
  }
}
.nav.footer {
  .nav__link {
    color: #8d8d8e;
    margin-left: 19px;
    transition: color 0.1s linear;
    &:hover {
      color: #fff;
    }
    &.btn-black {
      background-color: #2b2a2c;
      border-color: #8d8d8e;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: #3a393b;
        color: #fff;
      }
    }
  }
}
