.work {
  text-align: center;
  padding: 0 0 125px;
  &__btn {
    margin: 20px 0 0;
  }
}
.filter {
  text-align: center;
  padding: 30px 0;
  &__link {
    @include fontFWSC('Montserrat', 400, 14px, #6a696b);
    margin-left: 33px;
    transition: font-weight 0.1s linear;
    position: relative;
    &:first-child {
      margin-left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #2b2a2c;
      transition: width 0.2s linear;
    }
    &:hover {
      text-decoration: none;
      color: #000;
      &:before {
        width: 100%;
      }
    }
    &.active {
      color: #000;
      &:before {
        width: 100%;
      }
    }
  }
}
.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: auto -20px;
  // min-height: 1500px;
}
.portfolio-item {
  position: relative;
  bottom: 0;
  right: 0;
  width: 30%;
  max-height: 435px;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition:
    bottom 0.1s linear,
    right 0.1s linear,
    box-shadow 0.1s linear,
    width 0.3s linear,
    max-height 0.3s linear,
    font-size 0.3s linear;
  margin: 0 15px 30px;
  &:hover {
    bottom: 5px;
    right: 5px;
    box-shadow: 5px 5px 5px;
  }
  &.hide {
    width: 0;
    max-height: 0;
    font-size: 0;
    margin: 0;
  }
  &__image {
    display: block;
    width: 100%;
  }
  &__suptitle {
    @include fontFWSC('Montserrat', 400, 12px, #2b2a2c);
    text-transform: uppercase;
    margin: 18px 10px 0;
    text-align: left;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    @include fontFWSC('Montserrat', 700, 16px, #2b2a2c);
    text-transform: uppercase;
    margin: 16px 10px 15px;
  }
}
