/* Interest
============================================*/
	.interests {
		border-top: 2px #909090 solid;
	}

	.interests-inner {
		
		padding: 25px 25px 15px;
	}

	.interest__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		margin-top: -25px;
	}

	.interest__item {
		width: 33.3333%;
		height: 140px;

		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		transition: .2s all linear;

		margin-top: 10px;
	}

	.interest__name {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 18px;
		color: #fff;
		text-align: center;
	}
		

	.interest__item-svg {
		width: auto;
		height: 100%;
		max-width: 50%;
	}