h2 {
  font-size: 40px;
  margin-top: 0;
}

.restart {
  background-color: #e6e6ff;
  height: 0;
  font-size: 0;
  line-height: 0;
  -webkit-animation: restart linear forwards;
          animation: restart linear forwards;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes restart {
  0% {
    height: 0;
    font-size: 0;
    margin-bottom: 0px;
  }
  100% {
    font-size: 18px;
    height: 50px;
    margin-bottom: 30px;
  }
}
@keyframes restart {
  0% {
    height: 0;
    font-size: 0;
    margin-bottom: 0px;
  }
  100% {
    font-size: 18px;
    height: 50px;
    margin-bottom: 30px;
  }
}

.playground-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
}
.playground-space__btn {
  width: 33%;
  max-width: 148px;
  height: 148px;
  font-size: 60px;
  color: #2f2b5e;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 0;
}
.playground-space__btn.disabled {
  background-color: transparent;
  cursor: default;
}
.playground-space__btn:hover {
  background-color: #e6e6ff;
}
.playground-space__btn:hover.disabled {
  background-color: transparent;
  cursor: default;
}
.playground-space__btn:focus {
  outline: 0;
}
.playground-space__btn.border__btn-1 {
  border-right: 3px #2f2b5e solid;
  border-bottom: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-2 {
  border-right: 3px #2f2b5e solid;
  border-left: 3px #2f2b5e solid;
  border-bottom: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-3 {
  border-left: 3px #2f2b5e solid;
  border-bottom: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-4 {
  border-top: 3px #2f2b5e solid;
  border-right: 3px #2f2b5e solid;
  border-bottom: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-5 {
  border: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-6 {
  border-top: 3px #2f2b5e solid;
  border-left: 3px #2f2b5e solid;
  border-bottom: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-7 {
  border-top: 3px #2f2b5e solid;
  border-right: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-8 {
  border-right: 3px #2f2b5e solid;
  border-left: 3px #2f2b5e solid;
  border-top: 3px #2f2b5e solid;
}
.playground-space__btn.border__btn-9 {
  border-top: 3px #2f2b5e solid;
  border-left: 3px #2f2b5e solid;
}
.playground-space__btn.game-over {
  color: rgba(46, 42, 94, 0.5411764706);
  border-color: rgba(46, 42, 94, 0.5411764706);
}