.btn {
	height: 50px;

	font-family: Bebas;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
	line-height: 50px;
	letter-spacing: 1.5px;

	color: #fff;

	padding: 0px 33px;
	background-color: #000;
	transition: all .1s linear;

	&:hover {
		color: #000;
		background-color: #fff;
	}


	&--white {
		color: #000;
		background-color: #fff;

		&:hover {
			color: #fff;
			background-color: #000;
		}
		
	}

	
	

}