.contacts-top {
	padding: 73.5px 5px 0px;
	@media (max-width: $md2) {
		padding: 30px 0 5px 0px;
	}
	@media (max-width: 480px) {
		padding: 30px 0 0px 0px;
	}
}
.contacts-top-body {
	@include flexbox();
	flex-wrap: wrap;
}
.contacts__title {
	font-family: AkzidenzGroteskBold;
	font-size: 48px;
	color: #000;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 5.8px;

	margin-bottom: 23px;

	@media (max-width: 480px) {
		padding: 0 0 0 4px;
	}
}
.contacts-column {
	flex: 0 0 50%;

	@media (max-width: $md2) {
		flex: 0 0 55%;
		&--right {flex: 0 0 45%;}
	}
	@media (max-width: 480px) {
		flex: 0 0 100%;
		&--right {flex: 0 0 100%;}
	}
}
.contacts-location {
	@include flexbox();
	align-items: center;

	margin-bottom: 23px;
}
.contacts-location__icon {
	img {
		height: 28px;
		width: auto;
		margin: 0px 0px 0px -5px;

		@media (max-width: 480px) {
			margin: 0px 0px 0px 2px;
		}
	}
}
.contacts-location__text {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 16px;
	color: #000;
	letter-spacing: -0.45px;

	margin-left: 6px;
	cursor: pointer;

	span {
		text-transform: lowercase;
	    font-size: 10px;
	    vertical-align: top;
	}
	&:hover {
		text-decoration: underline;
	}
}
.contacts-tell {
	@include flexbox();
	align-items: center;

	margin-bottom: 24px;
}
.contacts-tell__icon {
	padding: 2px 0 0 2px;
	img {
		height: 22px;
	    width: auto;
	    margin: 0px 0px 0px -3px;
	    transform: rotateZ(16deg);

	    @media (max-width: 480px) {
		    margin: 0px 0px 0px 4px;
		}
	}
}
.contacts-tell__text {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 16px;
	color: #000;
	letter-spacing: -0.45px;

	margin-left: 5px;

	&:hover {text-decoration: underline;}
}
.contacts-mail {
	@include flexbox();
	align-items: center;

	margin-bottom: 26px;
}
.contacts-mail__icon {
	padding: 0px 0 0 5px;
	img {
		height: 25px;
	    width: auto;
	}
}
.contacts-mail__text {font-family: "PT Sans";
	font-weight: 400;
	font-size: 16px;
	color: #000;
	letter-spacing: -0.495px;

	margin-left: 9px;

	&:hover {text-decoration: underline;}

	a {color: #000;}
}
.contacts-social {
	@media (max-width: 480px) {
		margin-bottom: 24px;
	}
}
.contacts-social__icon {
	padding: 0px 0 0 5px;
	img {
		height: 25px;
	    width: auto;
	    margin-right: 30px;
		transition: transform .1s linear;
		cursor: pointer;

		&:last-child {margin: 0;}
		

	    &:hover {
	    	transform: translateY(-4px);
	    }
	}
	@media (max-width: 480px) {
    	text-align: center;
    }
}
.contacts-bottom {
	@include flexbox();
	background-color: #000;

	@media (max-width: $md2) {
		display: block;
	}
}
.contacts-bottom__column {
	flex: 0 0 50%;

	@media (max-width: $md2) {
		flex: 1 1 100%;
	}
}
.contacts-bottom__map {
	width: 100%;
	height: 100%;
	@media (max-width: $md2) {
		height: 300px;
	}
}
.contacts-bottom-form {
	padding: 52px 60px;
	@media (max-width: $md2) {
		padding: 30px;
	}
}
.contacts-bottom-form__title {
	font-family: AkzidenzGroteskBold;
	font-weight: 400;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: 2.5px;
	margin-bottom: 30px;
}
.contacts-bottom-form-body {
	max-width: 375px;
	@media (max-width: $md2) {
		max-width: none;
	}
}
.contacts-bottom-form-line {
	margin: 0px 0px 25px 0px;
}
.input {}
.contacts-bottom-form-button {}
.contacts-bottom-form__btn {}
.btn {}
.btn--white {}