.intro {
	@include flexbox();
	
	background-color: #000;

	margin: 0px 0px 75px 0px;
}

.intro-column {
	flex: 0 0 50%;
	overflow: hidden;
}

.intro-content {
	padding: 75px 0px 75px 60px;
	max-width: 380px;
}
.intro_title {
	font-family: AkzidenzGroteskBold;
	font-weight: 400;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	line-height: 50px;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
.intro_text {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	line-height: 25px;
	margin-bottom: 30px;

}
.intro-btns {
	@include flexbox();
	align-items: center;
}
.intro-btns__link {
	margin-left: 15px;
}