//* <МИКСИНЫ>===============================================================================================
@import "mixins";

//* <ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,500&display=swap");
// font-family: 'Montserrat', sans-serif;

//<Иконочные шрифты>==========================================================================================
//* <Шрифт по умолчанию>==========================================================================================
body {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   -webkit-font-smoothing: antialiased;
   color: #6a696b;
   &.noscroll {
      overflow: hidden;
   }
}

//* <ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
// $md1: $mw + 12;
// $md2: 991.98;
// $md3: 767.98;
// $md4: 479.98;
// $md5: 379.98;

//* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

//* <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "../components/blocks/header";
@import "../components/blocks/intro";
@import "../components/blocks/portfolio";
@import "../components/blocks/about";
@import "../components/blocks/footer";
@import "../components/modal";

//* <ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: clip;
}
.empty-space {
   height: 700px;
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-top: 1px solid #ccc;
}

//* <ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}

//* <ОСНОВНОЙ БЛОК>====================================================================================================
//todo -modal 'work' -------------------

//* <АДАПТИВ>====================================================================================================
//? intro ----------------------------------
@media (max-width: 990px) {
   .intro__inner {
      background: #fff url(../img/intro/bg.png) right -70px bottom no-repeat;
   }
   .intro-content {
      width: auto;
      button {
         padding: 15px 30px;
      }
   }
   .intro-photo {
      width: 50%;
      padding-right: 0;
      background: none;
   }
}
@media (max-width: 800px) {
   .intro__inner {
      background: #fff url(../img/intro/bg.png) right -100px bottom no-repeat;
      background-size: 450px;

      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      height: auto;
      max-height: 1200px;

      .intro-photo {
         img {
            width: 100%;
            display: flex;
            justify-content: center;

            height: 100%;
            max-height: 400px;
            width: auto;
         }
      }
   }
}
@media (max-width: 600px) {
   .intro__inner {
      flex-direction: column-reverse;
      background: none;
   }
   .intro-photo {
      width: 100%;
      display: flex;
      justify-content: center;
      background: #fff url(../img/intro/bg.png) center bottom no-repeat;
      background-size: 400px;
   }
   .intro-content {
      margin: 50px auto;
      text-align: center;
   }
   .social {
      justify-content: center;
   }
}

@media (max-width: 560px) {
   .intro-photo {
      // background-size: cover;
      img {
         height: 400px;
      }
   }
   .intro-content {
      &__greeting {
         font-size: 27px;
      }
      &__name {
         font-size: 40px;
      }
      &__prof {
         font-size: 16px;
      }
      button {
         padding: 10px 20px;
         font-size: 15px;
      }
      .social__item:last-child {
         margin-right: 0;
      }
   }
   .btn-black {
      padding: 7px 20px;
      font-size: 14px;
   }
}
@media (max-width: 400px) {
   .intro-photo {
      img {
         height: 300px;
      }
   }
   .intro-content {
      &__greeting {
         font-size: 21px;
      }
      &__name {
         font-size: 30px;
      }
      &__prof {
         font-size: 14px;
      }
      button {
         padding: 10px 15px;
         font-size: 14px;
      }
   }
   .btn-black {
      padding: 10px 15px;
      font-size: 14px;
   }

   .social {
      flex-wrap: wrap;
      a {
         margin: 10px 6%;
      }
   }
   .intro-content .social__item:last-child {
      margin-right: 6%;
   }
}
//? work ----------------------------------
@media (max-width: 900px) {
   .work {
      padding-bottom: 80px;
   }
   // position sticky
   .filter {
      position: sticky;
      top: 75px;
      z-index: 1;
      background-color: #fff;
      padding: 20px 0;
      margin: 0px -20px;
      border-bottom: 1px #f1f1f1 solid;
   }
   .portfolio-item {
      width: 45%;
      margin: 10px;
   }
}
@media (max-width: 600px) {
   .portfolio-item {
      width: 85%;
      margin: 10px;
      max-height: none;
   }
}
@media (max-width: 400px) {
   .portfolio-item {
      width: 90%;
   }
   .filter__link {
      margin-left: 18px;
   }
}
//? about ----------------------------------
@media (max-width: 1130px) {
   .about {
      &__suptitle {
         font-size: 35px;
      }
      &__title {
         font-size: 72px;
      }
      &__text,
      .about-btns {
         margin-left: 0px;
      }
      &__photo {
         background-size: 70%;
         img {
            height: 100%;
         }
      }
   }
}
@media (max-width: 1015px) {
   .about {
      &__suptitle {
         font-size: 30px;
      }
      &__title {
         font-size: 55px;
      }
   }
}
@media (max-width: 900px) {
   .about {
      &__inner {
         padding-bottom: 80px;
         height: auto;
      }
      &__col {
         width: 100%;
         max-height: 620px;
         &:last-child {
            width: 100%;
            padding: 30px 0 0;
            margin: 0 auto;
            text-align: center;
            max-height: none;
         }
      }
      &__photo {
         max-height: 620px;
         display: flex;
         align-items: flex-end;
         justify-content: center;
         background-size: 520px;
         background-position: center bottom;
         img {
            max-height: 620px;
         }
      }
      &__text,
      .about-btns {
         margin-left: auto;
      }
   }
}
@media (max-width: 510px) {
   .about {
      &__photo {
         width: 100%;

         background-size: 400px;
      }
   }
}
@media (max-width: 420px) {
   .about {
      &__suptitle {
         font-size: 23px;
      }
      &__title {
         font-size: 43px;
      }
      &__text {
         max-height: 350px;
         overflow: scroll;
      }
      &__photo {
         background-size: 320px;
         height: 450px;
      }
   }
}
//? reviews ----------------------------------
@media (max-width: 900px) {
   .reviews__text {
      padding: 30px 20px 70px;
   }
}
//? blog ----------------------------------
@media (max-width: 910px) {
   .blog-item {
      width: 45%;
   }
   .blog__title {
      font-size: 40px;
   }
}
@media (max-width: 610px) {
   .blog__inner {
      padding-bottom: 80px;
   }
   .blog-item {
      width: 90%;
   }
   .blog__title {
      font-size: 35px;
   }
}
//? footer ----------------------------------
@media (max-width: 1010px) {
   .footer {
      &__col {
         width: 100%;
         justify-content: center;
         &:last-child {
            display: none;
         }
      }
   }
}
@media (max-width: 520px) {
   .footer {
      &__inner {
         padding: 20px 0 30px;
      }
      &__col {
         flex-direction: column-reverse;
         .social {
            margin-bottom: 10px;
         }
         .copyright {
            padding-right: 0;
            margin-right: 0;
            border-right: 0;
            border-top: 1px #413f41 solid;
            padding-top: 10px;
         }
      }
   }
}
//? modal ----------------------------------
// work
@media (max-width: 1200px) {
   .modal-work {
      &__content {
         padding: 46px 25px 14px;
      }
      &__projectname {
         padding-right: 45px;
         line-height: 1;
      }
      &__preview {
         width: 60%;
      }
      &__content {
         width: 40%;

         .modal-work__textbox {
            max-height: 300px;
            overflow: auto;
         }
      }
   }
}
@media (max-width: 900px) {
   .modal-work {
      &__projectname {
         font-size: 28px;
      }
      &__category {
         font-size: 16px;
      }
   }
}
@media (max-width: 800px) {
   .modal-bg--work {
      align-items: flex-start;
      overflow: auto;
   }
   .modal-work {
      flex-direction: column;
      height: auto;
      &__preview {
         width: 100%;
         height: 100%;
      }
      &__content {
         width: 100%;
         // height: 50%;
         padding: 20px 15px 40px;
      }
      &__category {
         margin-bottom: 25px;
      }
      &__client {
         margin-bottom: 25px;
      }
      // &__textbox {overflow: auto;max-height: 130px;}
   }
}
@media (max-width: 400px) {
   .modal-work {
      // height: 570px;
      // min-height: 530px;
      // &__preview {height: 45%;}
      &__content {
         height: 55%;
      }
      &__projectname {
         font-size: 20px;
      }
      &__category {
         font-size: 14px;
      }
      &__client {
         margin-bottom: 15px;
      }
      &__btnbox {
         padding: 15px 15px;
         button {
            font-size: 13px;
         }
      }
      .modal-hireme__btn-close {
         width: 30px;
         height: 30px;
      }
   }
}
@media (max-height: 650px) {
   .modal-work {
      // height: 530px;
      &__projectname {
         font-size: 16px;
      }
      &__category {
         font-size: 13px;
      }
      &__client {
         font-size: 15px;
         margin-bottom: 10px;
         span {
            font-size: 14px;
         }
      }
      // &__textbox {max-height: 110px;}
   }
}

//! it's no break points bellow
/*//? Point 1 ----------------------------------
   @media (max-width: $md1+px) {}
//? Point 2 ----------------------------------
   @media (max-width: $md2+px) {}
//? Point 3 ----------------------------------
   @media (max-width: $md3+px) {}
//? Point 4 ----------------------------------
   @media (max-width: $md4+px) {}
//? Point 5 ----------------------------------
   @media (max-width: $md5+px) {} */
//* </ДОПОЛНИТЕЛЬНЫЙ ТЕСТОВЫЙ БЛОК>====================================================================================================
// -Test---------------------------------
// .test {
//    padding: 40px 0;
//    border-top: 1px #ccc solid;
// }
// .test__row {
//    display: flex;
//    justify-content: flex-start;
//    flex-direction: row;
//    flex-wrap: wrap;
//    align-content: space-between;

//    border: 2px solid red;
//    height: 500px;
// }
// .test__string  {
//    display: inline-flex;
//    align-items: center;
//    flex-direction: column;
//    width: 300px;
//    height: 100px;
//    margin: 20px 10px;

//    border: 1px solid rgb(0, 0, 0);
//    background-color: #ccc;
// }
