@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGroteskBold";
  src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
  src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"), url("../fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"), url("../fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.eot");
  src: local("☺"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/BebasNeue-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  height: 100px;
  font-family: "PT Sans";
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-mos-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
@media (max-width: 912px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: none;
  }
}

.btn {
  height: 50px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: Bebas;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  line-height: 54px;
  letter-spacing: 1.3px;
  color: #fff;
  padding: 0px 31px;
  background-color: #000;
  transition: all 0.1s linear;
}
.btn:hover {
  color: #000;
  background-color: #fff;
}
.btn--white {
  color: #000;
  background-color: #fff;
}
.btn--white:hover {
  color: #fff;
  background-color: #000;
}

.link {
  font-family: Bebas;
  font-size: 19px;
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1.8px;
}
.link--white {
  color: #fff;
}

.dispnone {
  display: none;
}

/* Nav Desktop
====================================*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  padding: 29px 0px 31px 0px;
}
@media (max-width: 912px) {
  .header {
    padding: 15px 0px 15px 0px;
  }
}
.header.fixed {
  position: fixed;
}

.header-top {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .header-top {
    display: none;
  }
}

.header-top-lang {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
}

.header-top-lang__item {
  display: block;
  font-family: Bebas;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 1px;
  padding: 0 3px;
  margin: 0px 10px 0px 4.5px;
}
.header-top-lang__item.active {
  color: #fff;
  background-color: #000;
}

.header-bottom-link {
  font-family: AkzidenzGroteskBold;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0.4px 8px 0px 0px;
}

.header-bottom {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  align-items: center;
  margin: -13px 12px 0px 9px;
}
@media (max-width: 750px) {
  .header-bottom {
    display: none;
  }
}

.header__bottom__column {
  flex: 0 0 33.33333%;
}

.header-bottom-menu--right .header-bottom-menu-list {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  text-align: right;
  margin: 2px 0px 0px 0 !important;
}
.header-bottom-menu--right .header-bottom-menu-list li {
  margin: 0px 0px 0px 55px;
}
.header-bottom-menu--right .header-bottom-menu-list li:last-child {
  margin: 0px -5px 0px 55px;
  letter-spacing: 1.1px;
}
.header-bottom-menu--right .header-bottom-menu-list li:first-child {
  margin: 0 -8px 0 0;
}
@media (max-width: 912px) {
  .header-bottom-menu--right .header-bottom-menu-list {
    margin: 0px 0px 0px 20px !important;
  }
}

.header-bottom-menu-list {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
}
.header-bottom-menu-list li {
  margin: 2px 48px 0px -3px;
}
.header-bottom-menu-list li:last-child {
  margin: 2px 0px 0px -2px;
}
.header-bottom-menu-list li:last-child a {
  letter-spacing: 1.3px;
}
@media (max-width: 912px) {
  .header-bottom-menu-list li {
    margin: 0px 20px 0px 0px !important;
  }
}

.header-bottom-menu_link {
  font-family: AkzidenzGroteskBold;
  font-size: 15.3px;
  color: #000;
  text-transform: uppercase;
  line-height: 1.5px;
  letter-spacing: 1.15px;
}
.header-bottom-menu_link:hover {
  text-decoration: underline;
}

.header-logo {
  display: block;
  text-align: center;
}
.header-logo a:first-child {
  margin-left: 5px;
  letter-spacing: 5px;
}

.header-logo__text {
  display: block;
  font-family: AkzidenzGroteskBold;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-left: 6px;
}

.header-logo__img {
  display: block;
  margin: 10px 0px 22px 0px;
}

.header-scroll {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
}
.header-scroll.show {
  display: block;
}
@media (max-width: 750px) {
  .header-scroll.show {
    display: none;
  }
}

.header-scroll-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #000 solid;
}

.header-scroll-menu ul {
  display: flex;
  justify-content: space-around;
}
.header-scroll-menu ul li {
  margin-right: 30px;
}
.header-scroll-menu ul li:last-child {
  margin-right: 0;
}
@media (max-width: 912px) {
  .header-scroll-menu ul li {
    margin-right: 20px;
  }
}

.header-scroll-logo {
  width: 15%;
}
.header-scroll-logo .header-logo {
  margin: 10px 0px;
}
.header-scroll-logo .header-logo img {
  width: 100%;
}

.header-scroll-lang {
  display: flex;
}

/* Burger
====================================*/
.header-burger {
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 750px) {
  .header-burger {
    display: flex;
  }
}
.header-burger.active .header-burger__item--1 {
  transform: rotateZ(45deg);
  top: 6px;
  background-color: #fff;
}
.header-burger.active .header-burger__item--2 {
  opacity: 0;
}
.header-burger.active .header-burger__item--3 {
  transform: rotateZ(-45deg);
  top: -6px;
  background-color: #fff;
}
.header-burger.active .header-burger-content {
  position: fixed;
  top: 0%;
  height: 100%;
  overflow: auto;
}
.header-burger.active .header-burger-lang {
  transform: rotateX(0deg);
}
.header-burger.active li {
  transform: rotateX(0deg);
}
.header-burger.active .header-burger-menu_link {
  transition: all 0.1s linear;
  transform: rotateX(0deg);
}

.header-burger-icon {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1000;
  width: 30px;
  cursor: pointer;
}
.header-burger-icon .header-burger__item {
  display: inline-block;
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  opacity: 1;
  background-color: #000;
  transition: all 0.1s linear;
}

.header-burger-logo .header-logo__img {
  margin: 0;
  width: 80%;
}

.header-burger-content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.2s linear;
}

.header-burger-lang {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10vh 0 50px;
  transform: rotateX(90deg);
  transition: transform 0.1s linear;
  transition-delay: 0.2s;
}

.header-burger-lang__item {
  display: block;
  font-family: Bebas;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0px 5px 0px 0px;
}
.header-burger-lang__item.active {
  color: #000;
  background-color: #fff;
}

.header-burger-menu {
  height: auto;
  margin-bottom: 30px;
}
.header-burger-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.header-burger-menu ul li {
  margin-bottom: 4%;
  transform: rotateX(90deg);
  transition: transform 0.2s linear;
  transition-delay: 0.3s;
}

.header-burger-menu_link {
  font-family: AkzidenzGroteskBold;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

.intro {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  background-color: #000;
  margin: 173px 0px 75px 0px;
}
@media (max-width: 912px) {
  .intro {
    margin: 145px 0px 75px 0px;
  }
}
@media (max-width: 750px) {
  .intro {
    background-image: url("../img/intro/intro.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 74px 0px 75px 0px;
  }
}

.intro-column {
  flex: 0 0 50%;
  overflow: hidden;
}
@media (max-width: 750px) {
  .intro-column.intro-bgimgjs {
    display: none;
  }
}
@media (max-width: 750px) {
  .intro-column {
    flex: 0 0 100%;
  }
}

.intro-content {
  padding: 76px 0px 76px 60px;
  max-width: 380px;
}
@media (max-width: 912px) {
  .intro-content {
    padding: 30px 0px 76px 40px;
  }
}
@media (max-width: 750px) {
  .intro-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: none;
    padding-right: 40px;
  }
}

.intro_title {
  font-family: AkzidenzGroteskBold;
  font-weight: 400;
  font-size: 49px;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 5px;
  margin-bottom: 24.5px;
}
@media (max-width: 912px) {
  .intro_title {
    font-size: 30px;
    line-height: normal;
  }
}

.intro_text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin-bottom: 50px;
}

.intro-btns {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  align-items: center;
}

@media (max-width: 912px) {
  .intro-btns__item {
    font-size: 15px;
    padding: 0px 20px;
    height: 40px;
    line-height: normal;
  }
}

.intro-btns__link {
  margin: 3px 0 0 18px;
}
@media (max-width: 912px) {
  .intro-btns__link {
    font-size: 15px;
  }
}

.products {
  margin: 0px 0px 76px 0px;
}
@media (max-width: 750px) {
  .products {
    margin: 0;
  }
}

.products-inner {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

.products__column {
  flex: 0 0 25%;
}
@media (max-width: 750px) {
  .products__column {
    flex: 0 0 50%;
    padding: 0px 0px 70px 0px;
  }
}
@media (max-width: 420.98px) {
  .products__column {
    flex: 0 0 100%;
  }
}

.products-item {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  flex-direction: column;
  height: 100%;
}

.products-item__img {
  display: block;
  padding: 0px 0px 102.3% 0px;
  margin: 0px 0px 23px 0px;
}

.products-item__title {
  flex: 1 1 auto;
  font-family: AkzidenzGroteskBold;
  font-weight: 400;
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 2.5px;
  max-width: 185px;
  min-height: 50px;
  max-height: 50px;
  overflow: hidden;
  margin: 0px 0px 26px 4px;
}
.products-item__title a {
  color: inherit;
}
.products-item__title a:hover {
  text-decoration: underline;
}
@media (max-width: 420.98px) {
  .products-item__title {
    max-width: none;
    min-height: auto;
  }
}

.products-item__text {
  flex: 1 1 auto;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 25px;
  max-width: 185px;
  margin: 0px 0px 26px 6px;
}
@media (max-width: 420.98px) {
  .products-item__text {
    max-width: none;
  }
}

.products-item__btn {
  margin: 0px 0px 27px 5px;
}

.products-item__link {
  margin-left: 6px;
}

.why-top {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  background-color: #000;
}

.why-top-column {
  flex: 0 0 50%;
}
@media (max-width: 750px) {
  .why-top-column {
    flex: 0 0 100%;
  }
  .why-top-column:first-child {
    background-image: url(../img/why/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .why-top-column:last-child {
    display: none;
  }
}

.why-top__text {
  font-family: AkzidenzGroteskBold;
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  text-align: right;
  padding: 52px 58px 48px 0px;
}
@media (max-width: 912px) {
  .why-top__text {
    padding: 30px 20px 30px 0px;
    font-size: 42px;
  }
}
@media (max-width: 750px) {
  .why-top__text {
    padding: 30px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.why-body {
  background-color: #ebebeb;
  padding-bottom: 50px;
}

.why-body-inner {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

.why-body-column {
  flex: 0 0 50%;
}
@media (max-width: 750px) {
  .why-body-column {
    flex: 1 1 100%;
  }
}

.why-body-item {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  padding: 54px 0px 0px 0px;
}
@media (max-width: 750px) {
  .why-body-item {
    padding: 30px 0px 0px 0px;
  }
}
@media (max-width: 420.98px) {
  .why-body-item {
    padding: 22px 0px 0px 0px;
  }
}

.why-body-item__icon {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  padding-left: 4px;
}
.why-body-item__icon img {
  width: 100%;
}
@media (max-width: 750px) {
  .why-body-item__icon {
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 420.98px) {
  .why-body-item__icon {
    padding-left: 0px;
  }
}

.why-body-item-body {
  flex: 1 1 100%;
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  flex-direction: column;
  padding: 0px 0px 0px 16px;
}
@media (max-width: 420.98px) {
  .why-body-item-body {
    padding: 0px 0px 0px 10px;
  }
}

.why-body-item__title {
  flex: 1 1 auto;
  font-family: AkzidenzGroteskBold;
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  min-height: 50px;
}
@media (max-width: 750px) {
  .why-body-item__title {
    flex: 0;
    min-height: auto;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.why-body-item__text {
  font-family: "PT Sans";
  font-size: 15px;
  color: #000;
  line-height: 25px;
  padding: 0px 15px 0px 0px;
}

.contacts-top {
  margin: 73.5px 0 0 0;
}

.contacts-top-inner {
  padding: 0 5px;
}
@media (max-width: 480px) {
  .contacts-top-inner {
    padding: 0;
  }
}

.contacts-top-body {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

.contacts-row__title {
  font-family: AkzidenzGroteskBold;
  font-size: 48px;
  color: #000;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 5.8px;
  margin-bottom: 23px;
}
@media (max-width: 480px) {
  .contacts-row__title {
    padding: 0 0 0 4px;
  }
}

.contacts-column {
  flex: 0 0 55%;
}
.contacts-column--right {
  flex: 0 0 45%;
}
@media (max-width: 480px) {
  .contacts-column {
    flex: 0 0 100%;
  }
  .contacts-column--right {
    flex: 0 0 100%;
  }
}

.contacts-location {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  align-items: center;
  margin-bottom: 23px;
}

.contacts-location__icon img {
  height: 28px;
  width: auto;
  margin: 0px 0px 0px -5px;
}
@media (max-width: 480px) {
  .contacts-location__icon img {
    margin: 0px 0px 0px 2px;
  }
}

.contacts-location__text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: -0.45px;
  margin-left: 6px;
  cursor: pointer;
}
.contacts-location__text span {
  text-transform: lowercase;
  font-size: 10px;
  vertical-align: top;
}
.contacts-location__text:hover {
  text-decoration: underline;
}

.contacts-tell {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  align-items: center;
  margin-bottom: 24px;
}

.contacts-tell__icon {
  padding: 2px 0 0 2px;
}
.contacts-tell__icon img {
  height: 22px;
  width: auto;
  margin: 0px 0px 0px -5px;
  transform: rotateZ(16deg);
}
@media (max-width: 480px) {
  .contacts-tell__icon img {
    margin: 0px 0px 0px 4px;
  }
}

.contacts-tell__text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: -0.45px;
  margin-left: 5px;
}
.contacts-tell__text:hover {
  text-decoration: underline;
}

.contacts-mail {
  display: -webit-box;
  display: -mos-box;
  display: flex;
  font-size: 0;
  align-items: center;
  margin-bottom: 26px;
}

.contacts-mail__icon {
  padding: 0px 0 0 5px;
}
.contacts-mail__icon img {
  height: 25px;
  width: auto;
}

.contacts-mail__text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: -0.495px;
  margin-left: 9px;
}
.contacts-mail__text:hover {
  text-decoration: underline;
}
.contacts-mail__text a {
  color: #000;
}

@media (max-width: 480px) {
  .contacts-social {
    margin-bottom: 24px;
  }
}

.contacts-social__icon {
  padding: 0px 0 0 5px;
}
.contacts-social__icon img {
  height: 25px;
  width: auto;
  margin-right: 30px;
  transition: transform 0.1s linear;
  cursor: pointer;
}
.contacts-social__icon img:last-child {
  margin: 0;
}
.contacts-social__icon img:hover {
  transform: translateY(-4px);
}
@media (max-width: 480px) {
  .contacts-social__icon {
    text-align: center;
  }
}

footer {
  height: 600px;
  background: green;
}